BODY {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
P {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TR {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TH {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TD {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
IFRAME {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
FORM {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
SELECT {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
INPUT {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
UL {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
LI {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
BODY {
	FONT-SIZE: 11px; COLOR: #000000
}
TABLE {
	FONT-SIZE: 11px; COLOR: #000000
}
BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; MARGIN-TOP: -1px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px; align: center
}
A {
	COLOR: #0000ff
}
A:visited {
	COLOR: #800080
}
A:hover {
	TEXT-DECORATION: none
}
.xlg {
	FONT-SIZE: 17px
}
.lg {
	FONT-SIZE: 14px
}
.med {
	FONT-SIZE: 10px
}
.sm {
	FONT-SIZE: 9px
}
.height1 {
	LINE-HEIGHT: 16px
}
.height2 {
	LINE-HEIGHT: 23px
}
.pagearea {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px; WIDTH: 740px; BACKGROUND-COLOR: #ffffff
}
.pgLocHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #ffffff; FONT-FAMILY: arial, verdana, helvetica
}
.tblayout {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 741px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; spacing: 0px
}
.tblayout2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 744px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.ident {
	BORDER-RIGHT: #6699cc 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #6699cc 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #6699cc 0px solid; WIDTH: 740px; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 0px solid
}
.ads {
	BORDER-RIGHT: #6699cc 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #6699cc 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #6699cc 0px solid; WIDTH: 740px; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 0px solid
}
.showtimes {
	BORDER-RIGHT: #6699cc 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #6699cc 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #6699cc 0px solid; WIDTH: 740px; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 0px solid
}
.weeklyboxes {
	BORDER-RIGHT: #6699cc 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #6699cc 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #6699cc 0px solid; WIDTH: 740px; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 0px solid
}
.ident {
	FONT-WEIGHT: bold; COLOR: #000000; HEIGHT: 60px; BACKGROUND-COLOR: #333333
}
.navtext {
	FONT-WEIGHT: normal; COLOR: #f6f6f6
}
.searchifilm {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff
}
.search {
	FONT-WEIGHT: bold; COLOR: #ffffff; HEIGHT: 24px
}
.ads {
	BACKGROUND-COLOR: #850d0d
}
.weekly {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; WIDTH: 734px
}
.weeklyboxes {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; WIDTH: 734px
}
.nav TR {
	COLOR: #ffffff; BACKGROUND-COLOR: #000000
}
.navout {
	COLOR: #ffffff; BACKGROUND-COLOR: #000000
}
.navOn {
	FONT-SIZE: 11px; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.nav {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; MARGIN: 0px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.navOn {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; MARGIN: 0px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.nav A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.nav A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.subnav {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0000ff
}
.subnav1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none
}
.subnav1 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none
}
.leftpad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.textpad {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.hzrule {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 2px; PADDING-TOP: 1px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #cccccc
}
.margin {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.itemspace {
	MARGIN: 2px
}
.modspace {
	MARGIN: 8px
}
.navlink {
	FONT-WEIGHT: bold
}
.list {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 16px; PADDING-TOP: 5px
}
.footer {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
.footer A:visited {
	COLOR: #000000
}
.footer2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000
}
.footer2 A:visited {
	COLOR: #000000
}
.bdr {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.bdrtop {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.bdrfull {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.bdrsides {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 0px solid
}
.bdrnosides {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid
}
.bdr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #cccccc; BORDER-BOTTOM-STYLE: solid
}
.bdrfull {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #cccccc; BORDER-BOTTOM-STYLE: solid
}
.bdrsides {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #cccccc; BORDER-BOTTOM-STYLE: solid
}
.bdrnosides {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #cccccc; BORDER-BOTTOM-STYLE: solid
}
.bdrtop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #cccccc; BORDER-BOTTOM-STYLE: solid
}
.bdrm {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid
}
.bdr2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.bdr2bottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px
}
.bdr2left {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.bdr2right {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.bdr2sides {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.bdr2leftbottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px
}
.bdr2rightbottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.bdr2topleftbottom {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px
}
.bdr2toprightbottom {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.bdr2full {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.bdr2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000000; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-STYLE: solid
}
.bdr2bottom {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000000; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-STYLE: solid
}
.bdr2left {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000000; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-STYLE: solid
}
.bdr2right {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000000; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-STYLE: solid
}
.bdr2sides {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000000; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-STYLE: solid
}
.bdr2leftbottom {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000000; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-STYLE: solid
}
.bdr2rightbottom {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000000; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-STYLE: solid
}
.bdr2topleftbottom {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000000; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-STYLE: solid
}
.bdr2toprightbottom {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000000; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-STYLE: solid
}
.bdr2full {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000000; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-STYLE: solid
}
.bdrw {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN: 2px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.bdrnotop {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN: 2px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.hdbdr {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN: 2px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.hdbdr {
	BORDER-LEFT-COLOR: #6699cc; BORDER-BOTTOM-COLOR: #6699cc; BORDER-TOP-COLOR: #6699cc; BORDER-RIGHT-COLOR: #6699cc
}
.hdbkg {
	FONT-SIZE: 12px; BACKGROUND-COLOR: #6699cc
}
.topsctnlist {
	HEIGHT: 100px
}
.hdrpromo {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ffffff 0px solid; LINE-HEIGHT: 25px; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 0px solid
}
.hdrpromoOn {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ffffff 0px solid; LINE-HEIGHT: 25px; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 0px solid
}
.hdrpromoHover {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ffffff 0px solid; LINE-HEIGHT: 25px; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 0px solid
}
.hdrpromo {
	COLOR: #0000ff; BACKGROUND-COLOR: #cccccc
}
.hdrpromoOn {
	COLOR: #ffffff; BACKGROUND-COLOR: #850d0d
}
.hdrpromo A {
	COLOR: #0000ff; font-decoration: underline
}
.hdrpromoOn A {
	COLOR: #ffffff; font-decoration: underline
}
.transportplaylist {
	COLOR: white; HEIGHT: 72px; BACKGROUND-COLOR: #104088
}
.esptransport {
	BORDER-RIGHT: #333333 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: text-bottom; OVERFLOW: hidden; BORDER-LEFT: #333333 0px solid; COLOR: white; PADDING-TOP: 0px; BORDER-BOTTOM: #333333 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #000000
}
.playlist {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; COLOR: white; PADDING-TOP: 0px; HEIGHT: 54px; BACKGROUND-COLOR: #104088; BORDER-RIGHT-WIDTH: 0px
}
.playlist A {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; COLOR: white; PADDING-TOP: 0px; HEIGHT: 54px; BACKGROUND-COLOR: #104088; BORDER-RIGHT-WIDTH: 0px
}
.media {
	BORDER-RIGHT: #aaaaaa 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #aaaaaa 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; MARGIN: 0px; VERTICAL-ALIGN: text-bottom; OVERFLOW: hidden; BORDER-LEFT: #aaaaaa 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaaaa 1px solid; HEIGHT: 18px
}
.curmedia {
	BORDER-RIGHT: #aaaaaa 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #aaaaaa 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; MARGIN: 0px; VERTICAL-ALIGN: text-bottom; OVERFLOW: hidden; BORDER-LEFT: #aaaaaa 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaaaa 1px solid; HEIGHT: 18px
}
.viewedmedia {
	BORDER-RIGHT: #aaaaaa 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #aaaaaa 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; MARGIN: 0px; VERTICAL-ALIGN: text-bottom; OVERFLOW: hidden; BORDER-LEFT: #aaaaaa 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaaaa 1px solid; HEIGHT: 18px
}
.media {
	COLOR: black; BACKGROUND-COLOR: #dce6f5
}
.curmedia {
	COLOR: white; BACKGROUND-COLOR: #0055ff
}
.viewedmedia {
	COLOR: white; BACKGROUND-COLOR: #104088
}
.nospacing {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.hdrfeature {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: 0px solid; BACKGROUND-COLOR: #850d0d
}
.hdrfeature A:link {
	COLOR: #ffffff
}
.hdrfeature A:visited {
	COLOR: #ffffff
}
.hdrstrong {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 0px solid; COLOR: #ffffff; BORDER-BOTTOM: 0px solid; BACKGROUND-COLOR: #850d0d
}
.hdrdefault {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 0px solid; COLOR: #000000; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #cccccc
}
.hdrdefault A:link {
	COLOR: #0000ff
}
.hdrdefault A:visited {
	COLOR: #0000ff
}
.hdrweak {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 0px solid; COLOR: #000000; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #ffffff
}
.hdrweak A {
	COLOR: #0000ff
}
.hdrfeature {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; BORDER-TOP-COLOR: #cccccc; TEXT-INDENT: 5px; BORDER-RIGHT-COLOR: #cccccc
}
.hdrstrong {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; BORDER-TOP-COLOR: #cccccc; TEXT-INDENT: 5px; BORDER-RIGHT-COLOR: #cccccc
}
.hdrdefault {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; BORDER-TOP-COLOR: #cccccc; TEXT-INDENT: 5px; BORDER-RIGHT-COLOR: #cccccc
}
.hdrweak {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; BORDER-TOP-COLOR: #cccccc; TEXT-INDENT: 5px; BORDER-RIGHT-COLOR: #cccccc
}
.hdrstrong {
	LINE-HEIGHT: 18px
}
.hdrdefault {
	LINE-HEIGHT: 18px
}
.hdrweak {
	LINE-HEIGHT: 18px
}
.hdrfeature {
	LINE-HEIGHT: 26px
}
.hdrpage {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; COLOR: #ffffff; TEXT-INDENT: 5px; LINE-HEIGHT: 26px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #850d0d
}
.hdrbox {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px; BORDER-LEFT: 0px solid; COLOR: #ffffff; TEXT-INDENT: 5px; LINE-HEIGHT: 26px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #850d0d
}
.hdrplus {
	BORDER-RIGHT: #cccccc 0px solid; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 0px solid; COLOR: #000000; TEXT-INDENT: 5px; LINE-HEIGHT: 18px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #3d7ec2
}
.hdrhzrule {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
.head {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}
.head2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000
}
.mainfeature {
	WIDTH: 200px; HEIGHT: 250px
}
.widefeature {
	WIDTH: 478px; HEIGHT: 250px
}
.adv250x250 {
	WIDTH: 250px; HEIGHT: 250px
}
.moduletop {
	WIDTH: 270px; HEIGHT: 250px
}
.featuredlists {
	WIDTH: 270px; HEIGHT: 250px
}
.doublefeature {
	WIDTH: 270px; HEIGHT: 250px
}
.shadetop {
	COLOR: #f6f6f6; BACKGROUND-COLOR: #5d0909
}
.shadetop A:link {
	COLOR: #f6f6f6
}
.shadetop A:visited {
	COLOR: #f6f6f6
}
.shade1 {
	BACKGROUND-COLOR: #fbeabb
}
.shade2 {
	BACKGROUND-COLOR: #fdf4dc
}
.shade3 {
	BACKGROUND-COLOR: #ffffff
}
.shade4 {
	BACKGROUND-COLOR: #f4f4f4
}
.shadeplus {
	BACKGROUND-COLOR: #c8e1fa
}
.ifilm {
	BACKGROUND-COLOR: #034bb7
}
.plus1 {
	COLOR: #3d7ec2
}
.plus {
	COLOR: #ffffff
}
plus A {
	COLOR: #ffffff
}
plus A:hover {
	COLOR: #ffffff
}
.plus {
	BACKGROUND-COLOR: #3d7ec2
}
.plus A {
	BACKGROUND-COLOR: #3d7ec2; TEXT-DECORATION: none
}
.plus A:visited {
	COLOR: #ffffff
}
.plus A:hover {
	BACKGROUND-COLOR: #83bdf7; TEXT-DECORATION: none
}
.playGlobal {
	FONT-SIZE: 12px; COLOR: black; LINE-HEIGHT: 20px
}
.playSm {
	FONT-SIZE: 9px; COLOR: black
}
.buzzbin {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #aaaaaa 1px solid
}
.featurebox1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 0px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.featurebox2 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 0px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.subTab {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0066ff; LINE-HEIGHT: 25px
}
.title {
	FONT-WEIGHT: bold
}
.accent {
	COLOR: red
}
.alert {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffff00; TEXT-DECORATION: underline
}
.buy {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0000ff
}
.more {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0000ff; LINE-HEIGHT: 20px
}
.topbar {
	FONT-SIZE: 9px; COLOR: #ffffff
}
.formfield {
	FONT-SIZE: 11px
}
.formbtn {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px; BORDER-LEFT: #333333 1px solid; COLOR: #000000; TEXT-INDENT: 0px; BORDER-BOTTOM: #333333 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffffff
}
.tnav {
	FONT-SIZE: 11px; COLOR: #ffffff
}
.featured {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 30px; BACKGROUND-COLOR: #000000
}
.clDescriptionCont {
	Z-INDEX: 999; VISIBILITY: hidden; WIDTH: 210px; POSITION: absolute; BACKGROUND-COLOR: #034bb7; layer-background-color: #034BB7
}
.clDescription {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; LEFT: 0px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #999999 1px solid; TOP: 0px; BACKGROUND-COLOR: #034bb7; layer-background-color: #034BB7
}
.clTitle1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff
}
.clTitle2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff
}
.clLinks {
	Z-INDEX: 1; LEFT: 100px; POSITION: absolute; TOP: 200px
}
.clCaption {
	FONT-SIZE: 11px; LEFT: 0px; WIDTH: 150px; CLIP: rect(0px 150px 15px 0px); POSITION: absolute; TOP: 0px; HEIGHT: 15px; BACKGROUND-COLOR: #999999; layer-background-color: #999999
}
.clCaptionsm {
	FONT-SIZE: 9px
}
.clshade1 {
	BACKGROUND-COLOR: #000000; layer-background-color: #000000
}
.help {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; BACKGROUND-COLOR: #ff0000; layer-background-color: #ff0000
}
.helpbg {
	BACKGROUND-COLOR: #ff0000; layer-background-color: #ff0000
}
.helpshade1 {
	BACKGROUND-COLOR: #ffffef; layer-background-color: #FFFFEF
}
.helpshade2 {
	BACKGROUND-COLOR: #e8e8e8; layer-background-color: #E8E8E8
}
.helpCont {
	Z-INDEX: 999; VISIBILITY: hidden; POSITION: absolute; BACKGROUND-COLOR: #cccccc; layer-background-color: #000000
}
.email {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; BACKGROUND-COLOR: #ff0000; layer-background-color: #ff0000
}
.emailbg {
	BACKGROUND-COLOR: #cccccc; layer-background-color: #cccccc
}
.emailshade1 {
	BACKGROUND-COLOR: #ffffef; layer-background-color: #FFFFEF
}
.emailshade2 {
	BACKGROUND-COLOR: #e8e8e8; layer-background-color: #E8E8E8
}
.emailCont {
	Z-INDEX: 999; VISIBILITY: hidden; WIDTH: 240px; POSITION: absolute; BACKGROUND-COLOR: #cccccc; layer-background-color: #000000
}
